[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

# This allows us to use http://localhost:8888/api/get-board
# instead of the long ugly default URL.
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200